# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
*.stackdump
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes

# ================= #
# Plugins generated #
# ================= #

unity/interactive-braid-evolution/Assets/ObjReader
unity/interactive-braid-evolution/Assets/ObjReader.meta
unity/interactive-braid-evolution/Assets/Plugins
unity/interactive-braid-evolution/Assets/Plugins.meta
unity/interactive-braid-evolution/Assets/Tools
unity/interactive-braid-evolution/Assets/Tools.meta
unity/interactive-braid-evolution/Assets/LeapMotion
unity/interactive-braid-evolution/Assets/LeapMotion.meta

# ================= #
# CPPN Bins         #
# ================= #

cppn/src/ConsoleApplication1/bin 
cppn/src/Experiments/SharpNeatExperiments/bin/
cppn/src/SharpNeatLib/bin/
cppn/src/UpgradeLog.htm
cppn/src/Backup

# ================= #
# Specifics         #
# ================= #

unity/interactive-braid-evolution/Assets/Geometry
unity/interactive-braid-evolution/Assets/Fonts
unity/interactive-braid-evolution/Assets/Resources/xml/
unity/interactive-braid-evolution/Assets/Resources/xml.meta
